/*
Theme Name: Moxehub
Theme URI: https://moxehub.com
Author: MoxeHub
Author URI: https://moxehub.com
Description: MoxeHub custom theme.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: moxehub
*/

:root {
    font-size: 14px; }

  html, body {
    margin: 0;
    padding: 0;
    overflow: auto;
    position: relative; }

  body {
    color: #4A4A4A;
    font-size: 14px;
    background: #f6f6f6;
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif; }

  .hidden--force {
    display: none !important; }

  header .navbar.navbar-color-on-scroll {
    background-color: rgba(0, 0, 0, 0.86) !important; }
    header .navbar.navbar-color-on-scroll .container,
    header .navbar.navbar-color-on-scroll .row,
    header .navbar.navbar-color-on-scroll .navbar-translate {
      width: 100%; }
  header .navbar.navbar-transparent {
    background-color: transparent !important; }
    header .navbar.navbar-transparent .header-logo-button {
      display: none; }
  header .menu-button {
    position: absolute;
    font-weight: bold; }
    header .menu-button img {
      width: 0.9rem;
      vertical-align: -1px; }
    header .menu-button.btn.btn-link {
      color: #96822f; }
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        header .menu-button.btn.btn-link {
          margin-left: -30%; } }
    @media screen and (-ms-high-contrast: active) and (max-width: 990px), screen and (-ms-high-contrast: none) and (max-width: 990px) {
      header .menu-button.btn.btn-link {
        margin-top: -20px; } }

  header .header-logo-button {
    width: 247px;
    display: block;
    margin: 0 auto 0 26vw; }
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
      header .header-logo-button {
        margin-left: -5% !important; } }
    @media (min-width: 576px) {
      header .header-logo-button {
        margin: 0 auto; } }

  body.moxehub-services header .navbar.navbar-transparent .header-logo-button,
  body.moxehub-contact-us header .navbar.navbar-transparent .header-logo-button {
    display: block; }

  .footer {
    background-color: #133362;
    color: white; }
    .footer .no-gutters {
      width: 100%;
      max-width: 100%; }
    .footer .logo-and-navigation {
      text-align: left; }
      .footer .logo-and-navigation .btn.btn-link {
        padding-left: 0;
        padding-right: 0.5rem; }
    .footer .address-and-copyright {
      text-align: right; }
      .footer .address-and-copyright .btn.btn-link {
        padding-left: 0.5rem;
        padding-right: 0; }
    .footer .btn.btn-link {
      color: white;
      text-transform: inherit;
      font-size: 1rem; }
    .footer .btn.footer-logo {
      background-color: transparent;
      -webkit-box-shadow: none;
              box-shadow: none; }
      .footer .btn.footer-logo .footer-logo__icon {
        width: 100%;
        height: 100%;
        display: block; }
    .footer .navigation {
      display: inline-block;
      margin-left: 0.5rem; }
      @media screen and (min-width: 576px) {
        .footer .navigation {
          display: block;
          margin-top: 2rem;
          margin-left: 0; } }
    .footer .sso-links {
      text-align: center; }
      @media screen and (min-width: 576px) {
        .footer .sso-links {
          text-align: right; } }
      .footer .sso-links li {
        text-align: center;
        padding: 0 1rem; }
        @media screen and (min-width: 576px) {
          .footer .sso-links li {
            padding-left: 0.5rem;
            padding-right: 0; } }
        .footer .sso-links li .fab {
          font-size: 1.52rem; }
          @media screen and (min-width: 768px) {
            .footer .sso-links li .fab {
              font-size: 1rem; } }
    .footer .copyright {
      text-align: center; }
      @media screen and (min-width: 576px) {
        .footer .copyright {
          text-align: right; } }
    .footer small, .footer a, .footer a:hover, .footer a:link, .footer a:active, .footer a:visited, .footer a:focus {
      color: white; }

  .menu-full-screen {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    z-index: 1040;
    width: 100%;
    background: rgba(0, 0, 0, 0.86);
    -webkit-transform: translateY(-99rem);
            transform: translateY(-99rem);
    opacity: 0;
    -webkit-transition: all 1s;
    transition: all 1s; }
    .menu-full-screen.menu-show {
      display: block; }
      .menu-full-screen.menu-show-in {
        -webkit-transform: translateY(0rem);
                transform: translateY(0rem);
        opacity: 1; }
    .menu-full-screen .close-menu-button {
      position: absolute;
      left: 0.5rem;
      top: 2.4rem;
      padding: 0; }
      .menu-full-screen .close-menu-button .material-icons {
        font-size: 3.6rem;
        color: white;
        padding: 0; }
    .menu-full-screen .header-logo-button {
      display: block;
      margin: 1rem auto;
      width: 274px; }
    .menu-full-screen .navigation .btn.btn-link {
      width: 100%;
      font-size: 2.6rem;
      line-height: 2;
      color: white; }
    .menu-full-screen .follow-us {
      text-align: center; }
      .menu-full-screen .follow-us h2 {
        font-weight: 400;
        font-size: 2.6rem;
        margin-top: 400;
        text-align: center;
        color: white; }
    .menu-full-screen .sso-links {
      list-style: none;
      margin: 0;
      padding: 0;
      display: inline-block; }
      .menu-full-screen .sso-links li {
        font-size: 2rem;
        color: white;
        display: inline-block; }
        .menu-full-screen .sso-links li .btn.btn-link {
          font-size: 2rem;
          display: inline-block;
          color: white;
          padding: 0 1.3rem; }
          @media screen and (max-width: 383px) {
            .menu-full-screen .sso-links li .btn.btn-link {
              padding: 0 0.9rem; } }

  main.homepage .first-section {
    padding-top: 75px;
    padding-bottom: 48px;
    height: 100vh;
    max-height: 2048px;
    position: relative;
    overflow: hidden; }
    main.homepage .first-section-slider {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden; }
      main.homepage .first-section-slider .slide {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        background-image: url(../moxehub/assets/images/background.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: #333;
        background-size: cover; }
        main.homepage .first-section-slider .slide.actived {
          opacity: 1; }
    main.homepage .first-section .homepage-logo {
      width: 150px;
      height: 134px;
      text-indent: -999rem;
      margin-top: calc(50vmin - 134px);
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      background-image: url(../moxehub/assets/images/homepage_logo.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: transparent;
      background-size: cover; }
      @media screen and (min-width: 992px) {
        main.homepage .first-section .homepage-logo {
          width: 200px;
          height: 178.66667px; } }
    main.homepage .first-section .sub-title {
      font-size: 0.94rem;
      color: white;
      text-align: center;
      margin: 2rem auto; }
      @media screen and (min-width: 992px) {
        main.homepage .first-section .sub-title {
          font-size: 1.2rem; } }
    main.homepage .first-section .footer__feature-is-now,
    main.homepage .first-section .footer__website {
      text-align: center;
      color: white; }
      main.homepage .first-section .footer__feature-is-now p,
      main.homepage .first-section .footer__website p {
        font-size: 0.92rem; }
        @media screen and (min-width: 992px) {
          main.homepage .first-section .footer__feature-is-now p,
          main.homepage .first-section .footer__website p {
            font-size: 1.2rem; } }
        main.homepage .first-section .footer__feature-is-now p::after,
        main.homepage .first-section .footer__website p::after {
          content: "";
          display: inline-block;
          width: 1em;
          height: 1px;
          line-height: 0.5rem;
          background-color: white;
          vertical-align: middle;
          margin-left: 0.25em; }
      main.homepage .first-section .footer__feature-is-now.tc-dark-yellow,
      main.homepage .first-section .footer__website.tc-dark-yellow {
        color: #9a842e; }
        main.homepage .first-section .footer__feature-is-now.tc-dark-yellow p::after,
        main.homepage .first-section .footer__website.tc-dark-yellow p::after {
          background-color: #9a842e; }
      main.homepage .first-section .footer__feature-is-now .progress-line,
      main.homepage .first-section .footer__website .progress-line {
        width: 100%;
        height: 1px;
        margin: 0;
        padding: 0;
        background-color: #9a842e;
        position: relative;
        overflow: hidden; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage]::after {
          background-color: white; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="1"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="1"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 1%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="2"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="2"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 2%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="3"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="3"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 3%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="4"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="4"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 4%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="5"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="5"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 5%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="6"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="6"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 6%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="7"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="7"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 7%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="8"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="8"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 8%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="9"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="9"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 9%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="10"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="10"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 10%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="11"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="11"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 11%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="12"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="12"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 12%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="13"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="13"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 13%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="14"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="14"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 14%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="15"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="15"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 15%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="16"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="16"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 16%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="17"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="17"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 17%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="18"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="18"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 18%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="19"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="19"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 19%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="20"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="20"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 20%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="21"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="21"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 21%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="22"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="22"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 22%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="23"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="23"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 23%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="24"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="24"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 24%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="25"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="25"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 25%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="26"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="26"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 26%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="27"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="27"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 27%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="28"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="28"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 28%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="29"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="29"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 29%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="30"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="30"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 30%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="31"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="31"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 31%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="32"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="32"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 32%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="33"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="33"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 33%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="34"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="34"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 34%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="35"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="35"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 35%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="36"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="36"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 36%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="37"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="37"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 37%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="38"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="38"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 38%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="39"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="39"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 39%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="40"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="40"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 40%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="41"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="41"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 41%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="42"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="42"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 42%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="43"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="43"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 43%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="44"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="44"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 44%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="45"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="45"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 45%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="46"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="46"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 46%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="47"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="47"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 47%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="48"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="48"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 48%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="49"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="49"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 49%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="50"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="50"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="51"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="51"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 51%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="52"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="52"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 52%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="53"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="53"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 53%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="54"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="54"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 54%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="55"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="55"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 55%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="56"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="56"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 56%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="57"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="57"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 57%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="58"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="58"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 58%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="59"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="59"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 59%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="60"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="60"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 60%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="61"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="61"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 61%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="62"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="62"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 62%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="63"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="63"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 63%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="64"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="64"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 64%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="65"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="65"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 65%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="66"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="66"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 66%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="67"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="67"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 67%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="68"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="68"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 68%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="69"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="69"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 69%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="70"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="70"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 70%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="71"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="71"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 71%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="72"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="72"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 72%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="73"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="73"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 73%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="74"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="74"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 74%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="75"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="75"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 75%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="76"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="76"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 76%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="77"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="77"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 77%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="78"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="78"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 78%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="79"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="79"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 79%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="80"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="80"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 80%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="81"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="81"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 81%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="82"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="82"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 82%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="83"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="83"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 83%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="84"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="84"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 84%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="85"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="85"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 85%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="86"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="86"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 86%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="87"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="87"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 87%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="88"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="88"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 88%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="89"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="89"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 89%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="90"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="90"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 90%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="91"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="91"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 91%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="92"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="92"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 92%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="93"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="93"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 93%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="94"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="94"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 94%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="95"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="95"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 95%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="96"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="96"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 96%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="97"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="97"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 97%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="98"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="98"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 98%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="99"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="99"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 99%;
          height: 1px;
          display: block; }
        main.homepage .first-section .footer__feature-is-now .progress-line[data-percentage="100"]::after,
        main.homepage .first-section .footer__website .progress-line[data-percentage="100"]::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 1px;
          display: block; }

  main.homepage .second-section {
    position: relative;
    overflow: hidden; }
    main.homepage .second-section .shutter_stock {
      position: absolute;
      overflow: hidden;
      top: 0;
      bottom: 0;
      width: 100%; }
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        main.homepage .second-section .shutter_stock {
          position: static !important; } }
      main.homepage .second-section .shutter_stock::before, main.homepage .second-section .shutter_stock::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100%;
        opacity: 0;
        -webkit-transition: all 1s;
        transition: all 1s; }
      main.homepage .second-section .shutter_stock.stock-in::before, main.homepage .second-section .shutter_stock.stock-in::after {
        opacity: 1; }
      main.homepage .second-section .shutter_stock.stock-in::after {
        -webkit-transform: translateX(18.75%);
                transform: translateX(18.75%); }
      main.homepage .second-section .shutter_stock.stock-in::before {
        -webkit-transform: translateX(-18.75%) translateY(14%);
                transform: translateX(-18.75%) translateY(14%); }
      main.homepage .second-section .shutter_stock::after {
        z-index: 1;
        padding-bottom: 57.10145%;
        background-image: url(../moxehub/assets/images/shutter_stock_right.png);
        -webkit-transform: translateX(180.75%);
                transform: translateX(180.75%); }
      main.homepage .second-section .shutter_stock::before {
        z-index: 2;
        padding-bottom: 54.06137%;
        background-image: url(../moxehub/assets/images/shutter_stock_left.png);
        -webkit-transform: translateX(-180.75%) translateY(14%);
                transform: translateX(-180.75%) translateY(14%); }
    main.homepage .second-section .description {
      position: relative;
      z-index: 3;
      color: white;
      text-align: center;
      line-height: 1.3; }
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        main.homepage .second-section .description {
          margin-bottom: 15%; } }
      @media screen and (min-width: 325px) {
        main.homepage .second-section .description {
          line-height: 1.5; } }
      @media screen and (min-width: 992px) {
        main.homepage .second-section .description {
          font-size: 1.2rem; } }
      @media screen and (min-width: 1200px) {
        main.homepage .second-section .description {
          font-size: 2rem; } }

  main.homepage .services-section {
    margin-top: -7%;
    margin-bottom: 2rem;
    background-image: url(../moxehub/assets/images/services_background.svg);
    background-repeat: no-repeat;
    background-position: 225% 10%;
    background-color: transparent;
    background-size: 88%; }
    @media screen and (min-width: 576px) and (max-width: 768px) {
      main.homepage .services-section {
        background-position: 165% 4%;
        background-size: 78%; } }
    @media screen and (min-width: 768px) {
      main.homepage .services-section {
        background-position: 155% 4%;
        background-size: 78%; } }
    main.homepage .services-section .services-header h3 {
      margin-top: 7%;
      font-weight: 400;
      color: #96822f;
      -webkit-transition: -webkit-transform 0.1s;
      transition: -webkit-transform 0.1s;
      transition: transform 0.1s;
      transition: transform 0.1s, -webkit-transform 0.1s; }
      @media screen and (min-width: 768px) {
        main.homepage .services-section .services-header h3 {
          font-size: 2.8rem;
          margin-top: 10%; } }
    main.homepage .services-section .service-items {
      margin-top: 10rem;
      text-align: center; }
      @media screen and (min-width: 576px) and (max-width: 768px) {
        main.homepage .services-section .service-items {
          margin-top: 8rem; } }
      @media screen and (min-width: 768px) {
        main.homepage .services-section .service-items {
          margin-top: 6rem; } }
      @media screen and (min-width: 992px) {
        main.homepage .services-section .service-items {
          margin-top: 12rem; } }
      @media screen and (min-width: 1200px) {
        main.homepage .services-section .service-items {
          margin-top: 18rem; } }
      main.homepage .services-section .service-items .item-icon {
        width: 110px; }
      main.homepage .services-section .service-items .application-development {
        margin-left: -40px; }
      main.homepage .services-section .service-items .web-cloud-development {
        margin-left: -10px; }
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        main.homepage .services-section .service-items .design-consulting {
          margin-bottom: -60px; }
        main.homepage .services-section .service-items .program-management {
          margin-bottom: -90px; }
        main.homepage .services-section .service-items .application-development {
          margin-bottom: 20px; } }
      main.homepage .services-section .service-items p {
        margin-top: 2rem;
        font-size: 1.2em; }
        @media screen and (min-width: 576px) {
          main.homepage .services-section .service-items p {
            font-size: 1.1em; } }
        @media screen and (min-width: 992px) {
          main.homepage .services-section .service-items p {
            font-size: 1.5em; } }

  main.homepage .customer-segments-section {
    margin-bottom: 2rem; }
    main.homepage .customer-segments-section .customer-segments-header h3 {
      font-weight: 400;
      color: #96822f; }
      @media screen and (min-width: 768px) {
        main.homepage .customer-segments-section .customer-segments-header h3 {
          font-size: 2.8rem; } }
    main.homepage .customer-segments-section .customer-segments-items {
      text-align: center; }
      main.homepage .customer-segments-section .customer-segments-items.no-gutters {
        margin-left: -15px;
        margin-right: -15px; }
      main.homepage .customer-segments-section .customer-segments-items .item-image {
        width: 100%;
        max-width: 100%; }
      main.homepage .customer-segments-section .customer-segments-items p {
        margin-top: 1rem;
        font-size: 1.2em; }
        @media screen and (min-width: 576px) {
          main.homepage .customer-segments-section .customer-segments-items p {
            font-size: 1.1em; } }
        @media screen and (min-width: 992px) {
          main.homepage .customer-segments-section .customer-segments-items p {
            font-size: 1.5em; } }

  main.homepage .value-section {
    margin-bottom: 4rem; }
    main.homepage .value-section .value-header h3 {
      font-weight: 400;
      color: #96822f; }
      @media screen and (min-width: 768px) {
        main.homepage .value-section .value-header h3 {
          font-size: 2.8rem; } }
    main.homepage .value-section .value-items {
      text-align: center; }
      main.homepage .value-section .value-items .item-image {
        width: 100%;
        max-width: 120px; }
        @media screen and (min-width: 992px) {
          main.homepage .value-section .value-items .item-image {
            max-width: 160px; } }
      main.homepage .value-section .value-items p {
        margin-top: 1rem;
        font-size: 1.2em; }
        @media screen and (min-width: 576px) {
          main.homepage .value-section .value-items p {
            font-size: 1.1em; } }
        @media screen and (min-width: 992px) {
          main.homepage .value-section .value-items p {
            font-size: 1.3em; } }

  h3 {
    font-size: 2.4rem;
    text-transform: uppercase; }

  main.services {
    padding-top: 6.5rem;
    padding-bottom: 48px; }
    main.services h1 {
      color: #96822f;
      text-transform: uppercase; }
    main.services .description {
      font-size: 1rem;
      line-height: 1.8rem;
      margin-bottom: 2rem;
      color: #4A4A4A; }
      @media screen and (min-width: 992px) {
        main.services .description {
          font-size: 1.16rem; } }
    main.services .services-item {
      height: auto;
      min-height: 250px;
      color: white;
      margin-bottom: 4px;
      background-color: white;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      main.services .services-item.modal-open {
        display: none !important; }
      @media screen and (min-width: 992px) {
        main.services .services-item {
          background-size: 100%; }
          main.services .services-item.col-lg-6 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 49%;
            flex: 0 0 49%;
            max-width: 49%; }
          main.services .services-item:nth-child(even) {
            margin-right: 2px; }
          main.services .services-item:nth-child(odd) {
            margin-left: 2px; } }
      main.services .services-item.the-niche {
        background-image: url(../moxehub/assets/images/the_niche.png);
        background-position: 0 0; }
      main.services .services-item.software-development {
        background-image: url(../moxehub/assets/images/software_development.png);
        background-position: 100% 0%; }
      main.services .services-item.design-consulting {
        background-image: url(../moxehub/assets/images/design_consulting.png);
        background-position: 0% 100%; }
      main.services .services-item.program-management-augmentation {
        background-image: url(../moxehub/assets/images/program_management_augmentation.png);
        background-position: 100% 100%; }
      main.services .services-item .row {
        height: 100%;
        background: rgba(0, 0, 0, 0.35); }
      main.services .services-item.hover-extra {
        background-size: 200%; }
        main.services .services-item.hover-extra .row {
          background: rgba(0, 0, 0, 0.56);
          opacity: 0.4; }
        main.services .services-item.hover-extra-self .row {
          background: rgba(0, 0, 0, 0.35);
          opacity: 1; }
      main.services .services-item h2 {
        font-weight: bold;
        line-height: 1.2; }
      main.services .services-item ul {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 1.2; }
        main.services .services-item ul li::before {
          content: "";
          display: inline-block;
          background-image: url(../moxehub/assets/images/small_triangle_right.svg);
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-color: transparent;
          background-size: 100%;
          width: 5px;
          height: 10px;
          margin-right: 4px; }
      main.services .services-item .detail-button {
        text-transform: inherit;
        border: 1px solid white;
        color: white;
        font-size: 1rem;
        padding: 0.4rem 1rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem; }
        main.services .services-item .detail-button::after {
          content: "";
          display: inline-block;
          background-image: url(../moxehub/assets/images/tail_triangle_right.svg);
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-color: transparent;
          background-size: 100%;
          width: 16px;
          height: 11px;
          margin-left: 8px; }
    main.services .services-modals {
      overflow: hidden; }
    main.services .services-modal {
      position: relative;
      overflow: hidden;
      padding-top: 14rem;
      -webkit-transform: translateY(-20rem);
              transform: translateY(-20rem);
      display: none;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
      main.services .services-modal.modal-open {
        display: block; }
      main.services .services-modal.modal-in {
        -webkit-transform: translateY(0rem);
                transform: translateY(0rem); }
      main.services .services-modal::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 20rem;
        background-color: white;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover; }
      main.services .services-modal.the-niche::before {
        background-image: url(../moxehub/assets/images/the_niche.png); }
      @media screen and (max-width: 422px) {
        main.services .services-modal.software-development {
          padding-top: 12rem; } }
      main.services .services-modal.software-development::before {
        background-image: url(../moxehub/assets/images/software_development.png); }
      @media screen and (max-width: 346px) {
        main.services .services-modal.design-consulting {
          padding-top: 12rem; } }
      main.services .services-modal.design-consulting::before {
        background-image: url(../moxehub/assets/images/design_consulting.png); }
      @media screen and (max-width: 768px) {
        main.services .services-modal.program-management-augmentation {
          padding-top: 12rem; } }
      @media screen and (max-width: 415px) {
        main.services .services-modal.program-management-augmentation {
          padding-top: 10rem; } }
      main.services .services-modal.program-management-augmentation::before {
        background-image: url(../moxehub/assets/images/program_management_augmentation.png); }
      main.services .services-modal h2 {
        font-weight: bold;
        line-height: 1.2;
        text-align: right;
        color: white; }
      main.services .services-modal p.description {
        margin-top: 4rem; }
      main.services .services-modal ul {
        margin: 0 0 3rem 0;
        padding: 0;
        list-style: none; }
        main.services .services-modal ul li::before {
          content: "";
          display: inline-block;
          background-image: url(../moxehub/assets/images/small_arrow_right.svg);
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-color: transparent;
          background-size: 100%;
          width: 5px;
          height: 10px;
          margin-right: 4px; }
      main.services .services-modal .close-modal-button {
        position: absolute;
        top: 1rem;
        left: 1rem;
        background-color: #96822f;
        border-color: #96822f;
        color: white; }

  main.works {
    padding-top: 6.5rem;
    padding-bottom: 48px;
    padding-left: 0;
    padding-right: 0; }
    main.works h1 {
      color: #96822f;
      text-transform: uppercase; }
    main.works .work-card {
      border-radius: 0; }
      main.works .work-card-image {
        background-image: url(../moxehub/assets/images/work_form_image.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: white;
        background-size: cover;
        min-height: 300px;
        padding-bottom: 38.58696%; }
      main.works .work-card-information {
        background-color: white;
        color: white;
        padding-top: 2rem;
        padding-bottom: 2rem; }
        main.works .work-card-information .row__max-height {
          height: 100%; }
        @media screen and (min-width: 992px) {
          main.works .work-card-information .card-information {
            font-size: 1rem; }
            main.works .work-card-information .card-information .row {
              margin-bottom: 0.6rem; } }
      main.works .work-card .works-form {
        min-height: 300px; }
      main.works .work-card .submit-button {
        border: 1px solid #96822f;
        color: #96822f;
        background-color: white; }
        main.works .work-card .submit-button-container {
          text-align: center; }
        main.works .work-card .submit-button .loading-icon,
        main.works .work-card .submit-button .succeeded-icon {
          display: none;
          overflow: hidden;
          width: 1rem;
          height: 1rem;
          position: relative; }
        main.works .work-card .submit-button .spinner {
          -webkit-animation: rotate 1.4s linear infinite;
                  animation: rotate 1.4s linear infinite;
          width: 1rem;
          height: 1rem;
          position: relative; }
        main.works .work-card .submit-button .succeeded-icon {
          background-image: url(../moxehub/assets/images/check_circle.svg);
          background-repeat: no-repeat;
          background-color: #96822f;
          background-size: cover; }
        main.works .work-card .submit-button.form-sending {
          background-color: white; }
          main.works .work-card .submit-button.form-sending .send-text,
          main.works .work-card .submit-button.form-sending .succeeded-icon {
            display: none; }
          main.works .work-card .submit-button.form-sending .loading-icon {
            display: block; }
        main.works .work-card .submit-button.form-sending-succeeded {
          background-color: #96822f; }
          main.works .work-card .submit-button.form-sending-succeeded .send-text,
          main.works .work-card .submit-button.form-sending-succeeded .loading-icon {
            display: none; }
          main.works .work-card .submit-button.form-sending-succeeded .succeeded-icon {
            display: block; }
      main.works .work-card #error-message {
        display: none;
        text-align: left; }

  main.contact-us {
    padding-top: 6.5rem;
    padding-bottom: 48px;
    padding-left: 0;
    padding-right: 0; }
    main.contact-us .lets-code {
      background-color: white; }
      main.contact-us .lets-code p {
        font-size: 2rem;
        padding: 1.5rem 0 1rem 0; }
    main.contact-us .google-map {
      margin-top: 10px;
      min-height: 400px; }
    main.contact-us .progress-circle-container {
      position: relative;
      overflow: hidden;
      margin: 1rem auto 0 auto;
      padding-bottom: 3rem; }
      @media screen and (min-width: 576px) {
        main.contact-us .progress-circle-container {
          padding-bottom: 7rem; } }
      main.contact-us .progress-circle-container .progress-circle-name {
        position: relative;
        text-align: center;
        width: 160px;
        height: 160px;
        margin-top: -160px;
        margin-left: calc(50% - 80px); }
        main.contact-us .progress-circle-container .progress-circle-name.bottom-name {
          top: 160px;
          height: auto;
          width: 100%;
          max-width: 120px;
          margin: -140px auto 5rem auto;
          display: none;
          opacity: 0;
          -webkit-transition: all 0.5s ease 1s;
          transition: all 0.5s ease 1s; }
          @media screen and (max-width: 576px) {
            main.contact-us .progress-circle-container .progress-circle-name.bottom-name {
              top: 164px;
              margin-top: -162px;
              margin-bottom: 120px; } }
        main.contact-us .progress-circle-container .progress-circle-name.middle-progress .percentage {
          font-size: 2.8rem;
          font-weight: 400;
          color: #96822f;
          display: none;
          opacity: 0;
          -webkit-transition: all 0.5s ease 1s;
          transition: all 0.5s ease 1s; }
        main.contact-us .progress-circle-container .progress-circle-name.middle-progress .name {
          display: block;
          opacity: 1;
          -webkit-transition: all 0.5s ease 1s;
          transition: all 0.5s ease 1s; }
        main.contact-us .progress-circle-container .progress-circle-name:hover.middle-progress .percentage, main.contact-us .progress-circle-container .progress-circle-name:focus.middle-progress .percentage, main.contact-us .progress-circle-container .progress-circle-name.actived.middle-progress .percentage {
          display: block;
          opacity: 1; }
        main.contact-us .progress-circle-container .progress-circle-name:hover.middle-progress .name, main.contact-us .progress-circle-container .progress-circle-name:focus.middle-progress .name, main.contact-us .progress-circle-container .progress-circle-name.actived.middle-progress .name {
          display: none;
          opacity: 0; }
        main.contact-us .progress-circle-container .progress-circle-name:hover ~ .progress-circle-name.bottom-name, main.contact-us .progress-circle-container .progress-circle-name:focus ~ .progress-circle-name.bottom-name, main.contact-us .progress-circle-container .progress-circle-name.actived ~ .progress-circle-name.bottom-name {
          display: block;
          opacity: 1; }
    main.contact-us .progress-circle {
      display: block;
      margin: 0 auto; }
      main.contact-us .progress-circle .progress-value {
        stroke-dasharray: 458.672;
        stroke-dashoffset: 458.672;
        -webkit-transition: all 1.5s;
        transition: all 1.5s; }
    main.contact-us #user-messages {
      height: 10rem !important; }
    main.contact-us .submit-button-container {
      text-align: right; }
    main.contact-us h1 {
      color: #96822f;
      text-transform: uppercase; }
    main.contact-us .contact-us-form {
      color: #96822f; }
      main.contact-us .contact-us-form h3 {
        font-size: 2.4rem;
        text-transform: uppercase; }
      @media screen and (min-width: 992px) {
        main.contact-us .contact-us-form p {
          font-size: 1.1rem; } }
      @media screen and (min-width: 992px) {
        main.contact-us .contact-us-form label {
          font-size: 1.1rem; } }
    main.contact-us .ceo-description h4 {
      color: #96822f;
      text-transform: uppercase;
      font-size: 1.2rem; }
      @media screen and (min-width: 992px) {
        main.contact-us .ceo-description h4 {
          font-size: 1.8rem; } }
    @media screen and (min-width: 992px) {
      main.contact-us .ceo-description p {
        font-size: 1.1rem;
        text-align: left; } }
    main.contact-us .ceo-description blockquote {
      margin-top: 3rem;
      margin-bottom: 3rem;
      padding: 1rem 2rem;
      text-align: right;
      position: relative;
      overflow: hidde; }
      main.contact-us .ceo-description blockquote::before {
        content: "";
        position: absolute;
        top: 0;
        left: 15px;
        bottom: 0;
        width: 4px;
        z-index: -1;
        background: #96822f; }
      main.contact-us .ceo-description blockquote p {
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.5; }
    main.contact-us .ceo-card {
      border-radius: 0; }
      main.contact-us .ceo-card-image {
        background-image: url(../moxehub/assets/images/ceo_image.png);
        background-repeat: no-repeat;
        background-color: white;
        background-size: cover;
        background-position-x: 50%;
        padding-bottom: 50.5%; }
        @media screen and (min-width: 576px) {
          main.contact-us .ceo-card-image {
            padding-bottom: 25.25%; } }
        @media screen and (max-width: 574px) {
          main.contact-us .ceo-card-image {
            padding-bottom: 60%; } }
      main.contact-us .ceo-card-information {
        background-color: #96822f;
        color: white;
        padding-top: 2rem;
        padding-bottom: 2rem; }
        main.contact-us .ceo-card-information .row__max-height {
          height: 100%; }
        main.contact-us .ceo-card-information .align-self-center.hidden--force {
          display: block !important; }
          main.contact-us .ceo-card-information .align-self-center.hidden--force .row__max-height {
            height: auto; }
        main.contact-us .ceo-card-information .card-information a {
          color: #fff; }
        @media screen and (min-width: 992px) {
          main.contact-us .ceo-card-information .card-information {
            font-size: 1rem; }
            main.contact-us .ceo-card-information .card-information .row {
              margin-bottom: 0.6rem; } }
        @media screen and (max-width: 576px) {
          main.contact-us .ceo-card-information .card-information .row {
            -webkit-box-pack: center !important;
            -ms-flex-pack: center !important;
            justify-content: center !important;
            /* Hack to col-4 */
            /* Hack custom width */ }
            main.contact-us .ceo-card-information .card-information .row .col-3 {
              -webkit-box-flex: 0;
              -ms-flex: 0 0 25%;
              flex: 0 0 25%;
              max-width: 25%;
              text-align: right; }
            main.contact-us .ceo-card-information .card-information .row .col-8 {
              -webkit-box-flex: 0;
              -ms-flex: 0 0 60%;
              flex: 0 0 60%;
              max-width: 60%; } }
      main.contact-us .ceo-card-sso {
        text-align: left;
        color: white; }
        main.contact-us .ceo-card-sso .sso-links {
          padding: 0;
          list-style: none;
          text-align: center; }
          @media screen and (min-width: 576px) {
            main.contact-us .ceo-card-sso .sso-links {
              text-align: left; } }
          main.contact-us .ceo-card-sso .sso-links li {
            display: inline-block;
            text-align: center;
            padding: 0 1rem;
            color: white; }
            @media screen and (max-width: 383px) {
              main.contact-us .ceo-card-sso .sso-links li {
                padding: 0 0.5rem; } }
            @media screen and (min-width: 576px) {
              main.contact-us .ceo-card-sso .sso-links li {
                padding-left: 0rem;
                padding-right: 0; } }
            main.contact-us .ceo-card-sso .sso-links li .fab {
              font-size: 1.52rem; }
          main.contact-us .ceo-card-sso .sso-links .btn.btn-link {
            color: white;
            font-size: 1.2rem;
            padding-left: 0.5rem;
            padding-right: 0; }
    main.contact-us #error-message {
      display: none;
      text-align: left; }
  @-webkit-keyframes rotate {
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); } }
  @keyframes rotate {
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); } }
  .moxehub-spa header, .moxehub-spa footer, .moxehub-spa #menu-full-screen {
    display: none; }
  .moxehub-spa .spa-logo {
    width: 100%;
    height: 180px;
    text-indent: -999rem;
    margin-top: 1rem;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../moxehub/assets/images/spa_logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
    background-size: contain; }
  .moxehub-spa .sub-title {
    color: #96822f; }
  .moxehub-spa .spa-content .item-image {
    min-height: 200px;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: none;
    background-size: cover; }
  .moxehub-spa .spa-content .content {
    border-top: 1px solid #dddddd; }
  .moxehub-spa .spa-content .services {
    background-color: #99b5cb; }
  .moxehub-spa .spa-content .value {
    background-color: #9bb6af; }
  .moxehub-spa .contact-us-form {
    background: #96822f; }
  .moxehub-spa .submit-button {
    border-color: white;
    background-color: white;
    color: #96822f; }
    .moxehub-spa .submit-button:hover {
      background-color: white; }
  .moxehub-spa .bmd-help {
    color: white !important; }
  .moxehub-spa .sso-links {
    margin: 3rem auto;
    padding: 0;
    list-style: none;
    text-align: center; }
    .moxehub-spa .sso-links li {
      display: inline-block;
      text-align: center;
      padding: 0;
      color: white; }
      .moxehub-spa .sso-links li .fab {
        font-size: 1.52rem; }
    .moxehub-spa .sso-links .btn.btn-link {
      color: white;
      font-size: 1.2rem;
      padding: 0 0.2rem; }

  .submit-button {
    border: 1px solid #96822f;
    color: #96822f;
    background-color: white; }
    .submit-button .loading-icon,
    .submit-button .succeeded-icon {
      display: none;
      overflow: hidden;
      width: 1rem;
      height: 1rem;
      position: relative; }
    .submit-button .spinner {
      -webkit-animation: rotate 1.4s linear infinite;
              animation: rotate 1.4s linear infinite;
      width: 1rem;
      height: 1rem;
      position: relative; }
    .submit-button .succeeded-icon {
      background-image: url(../moxehub/assets/images/check_circle.svg);
      background-repeat: no-repeat;
      background-color: #96822f;
      background-size: cover; }
    .submit-button.form-sending {
      background-color: white; }
      .submit-button.form-sending .send-text,
      .submit-button.form-sending .succeeded-icon {
        display: none; }
      .submit-button.form-sending .loading-icon {
        display: block; }
    .submit-button.form-sending-succeeded {
      background-color: #96822f; }
      .submit-button.form-sending-succeeded .send-text,
      .submit-button.form-sending-succeeded .loading-icon {
        display: none; }
      .submit-button.form-sending-succeeded .succeeded-icon {
        display: block; }
